<a href="https://colab.research.google.com/github/CarlosOliv71/Pos-Graduacao-de-Ciencia-de-Dados-da-Unicarioca/blob/main/Machine_Learning_Trabalho_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('/content/ds_salaries.csv')
df.head()
dimensoes = df.shape

In [ ]:
print('---------------1.	Quais as dimensões do dataframe?')
print('As dimensões do DataFrame são (Linhas X Colunas)', dimensoes)

In [ ]:
print('---------------2.	Quais são as colunas apresentadas no dataframe?')
df.info()

In [ ]:
print('---------------3.	Qual o menor salário pago, em dólares americanos (coluna salary_in_usd)?')
mim = df['salary_in_usd'].min()
print(f'O menor salário pago é de {mim} dólares')

In [ ]:
print('---------------4.	Qual o maior salário pago, em dólares americanos (coluna salary_in_usd)?')
max = df['salary_in_usd'].max()
print(f'O maior salário pago é de {max} dólares')

In [ ]:
print('---------------5.	Quais os cargos descritos (coluna job_title)?')
df['job_title'] = df['job_title'].str.strip()
df['job_title'] = df['job_title'].str.upper()
df['job_title'] = df['job_title'].str.title()
job = df['job_title'].unique()
print('==========Descrição dos cargos==========')
print("\n".join(job))

In [ ]:
print('---------------6.	Quantos cargos foram descritos?')
cargos_descritos = df['job_title'].nunique()
print('Foram encontrados', cargos_descritos, 'cargos.')

In [ ]:
print('---------------7.	Qual a moeda em que mais salários foram pagos (salary_currency)?')
cont_moeda = df['salary_currency'].value_counts()
print('A moeda em que mais salários foram pagos é DÓLAR (UDS)')
print(cont_moeda)

In [ ]:
print('---------------8.	Quais as médias e medianas dos salários pagos, em dólar, para cada cargo?')
df_usd = df[df['salary_currency'] == 'USD']
salario_por_cargo = df_usd.groupby('job_title')['salary'].agg(['mean', 'median'])
print(salario_por_cargo)

In [ ]:
print('---------------9.	Quais os valores totais dos salários pagos (as somas de todos os salários pagos por cada país), em dólar, para cada país contratante (company_location)?')
df_usd = df[df['salary_currency'] == 'USD']
salarios_por_pais = df_usd.groupby('company_location')['salary'].sum()
print(salarios_por_pais)

---------------1.	Quais as dimensões do dataframe?
(607, 12)
---------------2.	Quais são as colunas apresentadas no dataframe?
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          607 non-null    int64
 1   work_year           607 non-null    int64
 2   experience_level    607 non-null    object
 3   employment_type     607 non-null    object
 4   job_title           607 non-null    object
 5   salary              607 non-null    int64
 6   salary_currency     607 non-null    object
 7   salary_in_usd       607 non-null    int64
 8   employee_residence  607 non-null    object
 9   remote_ratio        607 non-null    int64
 10  company_location    607 non-null    object
 11  company_size        607 non-null    object
dtypes: int64(5), object(7)
memory usage: 57.0+ KB
---------------3.	Qual o menor salário pago, em dólares americanos (coluna salary_in_usd)?
O valor Minimo da coluna salary_in_usd é 2859
---------------4.	Qual o maior salário pago, em dólares americanos (coluna salary_in_usd)?
O valor Maximo da coluna salary_in_usd é 600000
---------------5.	Quais os cargos descritos (coluna job_title)?
['Data Scientist' 'Machine Learning Scientist' 'Big Data Engineer'
 'Product Data Analyst' 'Machine Learning Engineer' 'Data Analyst'
 'Lead Data Scientist' 'Business Data Analyst' 'Lead Data Engineer'
 'Lead Data Analyst' 'Data Engineer' 'Data Science Consultant'
 'Bi Data Analyst' 'Director Of Data Science' 'Research Scientist'
 'Machine Learning Manager' 'Data Engineering Manager'
 'Machine Learning Infrastructure Engineer' 'Ml Engineer' 'Ai Scientist'
 'Computer Vision Engineer' 'Principal Data Scientist'
 'Data Science Manager' 'Head Of Data' '3D Computer Vision Researcher'
 'Data Analytics Engineer' 'Applied Data Scientist'
 'Marketing Data Analyst' 'Cloud Data Engineer' 'Financial Data Analyst'
 'Computer Vision Software Engineer' 'Director Of Data Engineering'
 'Data Science Engineer' 'Principal Data Engineer'
 'Machine Learning Developer' 'Applied Machine Learning Scientist'
 'Data Analytics Manager' 'Head Of Data Science' 'Data Specialist'
 'Data Architect' 'Finance Data Analyst' 'Principal Data Analyst'
 'Big Data Architect' 'Staff Data Scientist' 'Analytics Engineer'
 'Etl Developer' 'Head Of Machine Learning' 'Nlp Engineer'
 'Lead Machine Learning Engineer' 'Data Analytics Lead']
---------------6.	Quantos cargos foram descritos?
Foram encontrados 50 cargos
---------------7.	Qual a moeda em que mais salários foram pagos (salary_currency)?
salary_currency
USD    398
EUR     95
GBP     44
INR     27
CAD     18
JPY      3
PLN      3
TRY      3
CNY      2
MXN      2
HUF      2
DKK      2
SGD      2
BRL      2
AUD      2
CLP      1
CHF      1
Name: count, dtype: int64
---------------8.	Quais as médias e medianas dos salários pagos, em dólar, para cada cargo?
                                                   mean    median
job_title
Ai Scientist                               79800.000000   55000.0
Analytics Engineer                        175000.000000  179850.0
Applied Data Scientist                    238000.000000  177000.0
Applied Machine Learning Scientist        178800.000000   75000.0
Bi Data Analyst                            82454.400000   98000.0
Big Data Engineer                          49333.333333   60000.0
Business Data Analyst                     117500.000000  117500.0
Cloud Data Engineer                       160000.000000  160000.0
Computer Vision Engineer                   54750.000000   42000.0
Computer Vision Software Engineer         110000.000000  110000.0
Data Analyst                              101761.768293  100000.0
Data Analytics Engineer                    60000.000000   50000.0
Data Analytics Lead                       405000.000000  405000.0
Data Analytics Manager                    127134.285714  120000.0
Data Architect                            177873.909091  180000.0
Data Engineer                             139465.800000  136000.0
Data Engineering Manager                  159000.000000  153000.0
Data Science Consultant                    96500.000000   96500.0
Data Science Engineer                      60000.000000   60000.0
Data Science Manager                      175118.300000  160171.0
Data Scientist                            139712.758621  140000.0
Data Specialist                           165000.000000  165000.0
Director Of Data Engineering              200000.000000  200000.0
Director Of Data Science                  247666.666667  250000.0
Financial Data Analyst                    275000.000000  275000.0
Head Of Data                              221666.666667  230000.0
Head Of Data Science                      146718.750000  138937.5
Lead Data Analyst                         128500.000000  128500.0
Lead Data Engineer                        154250.000000  142500.0
Lead Data Scientist                       152500.000000  152500.0
Machine Learning Developer                100000.000000  100000.0
Machine Learning Engineer                 140488.000000  144000.0
Machine Learning Infrastructure Engineer  195000.000000  195000.0
Machine Learning Scientist                158412.500000  156500.0
Ml Engineer                               263000.000000  263000.0
Principal Data Analyst                    122500.000000  122500.0
Principal Data Engineer                   328333.333333  200000.0
Principal Data Scientist                  255500.000000  227500.0
Product Data Analyst                       20000.000000   20000.0
Research Scientist                        139428.428571  100000.0
Staff Data Scientist                      105000.000000  105000.0
---------------9.	Quais os valores totais dos salários pagos (as somas de todos os salários pagos por cada país), em dólar, para cada país contratante (company_location)??
company_location
AE      300000
AU      150000
BR       24000
CA     1244700
CN      100000
CO       21844
CZ       69999
DE       85000
DZ      100000
ES       55000
FR      152000
GB       50000
GR       20000
HN       20000
IN       20000
IQ      100000
IR        4000
JP      502000
KE        9272
LU       10000
MD       18000
MX       60000
MY       40000
NG       60000
NL       42000
NZ      125000
PK       40000
RO       60000
RU      315000
UA       13400
US    50816171
VN        4000
Name: salary, dtype: int64